@font-face {
  font-family: "VazirLight";
  src: local("VazirLight"),
    url(assets/fonts/vazir-font-v16.1.0/Vazir-Light.woff) format("woff");
}
@font-face {
  font-family: "VazirBold";
  src: local("VazirBold"),
    url(assets/fonts/vazir-font-v16.1.0/Vazir-Bold.woff) format("woff");
}
@font-face {
  font-family: "VazirMedium";
  src: local("VazirMedium"),
    url(assets/fonts/vazir-font-v16.1.0/Vazir-Medium.woff) format("woff");
}

body,
html {
  background-color: #ccc;
  margin: 0;
  padding: 0;
  font-family: VazirLight VazirBold VazirThin VazirMedium;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
